<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/ricky-kharawala-adK3Vu70DEQ-unsplash.jpg" alt="ricky-kharawala-adK3Vu70DEQ-unsplash" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">
                Rudi Kurniawan
            </h1>
            <p class="lead">Mahasiswa | Teknik Informatika</p>
        </div>
    </div>
</div>
